<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>

<form th:action="@{/registrar}" method="post" th:object="${UsuarioDTO}">
  <label>Primeiro nome:</label><br>
  <input type="text" th:field="*{firstName}" name="firstName"><br>
  <label>Último nome:</label><br>
  <input type="text" th:field="*{lastName}"  name="lastName"><br>
  <label>Username:</label><br>
  <input type="text" th:field="*{username}" name="username"><br>
  <label>Senha:</label><br>
  <input type="password" th:field="*{password}" name="password">
  <input type="submit" value="Submit">
</form>

</body>
</html>