<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

<form th:action="@{/registrar}" method="post">
  <label for="firstName">Primeiro nome:</label><br>
  <input type="text" id="firstName" name="firstName"><br>
  <label for="lastName">Último nome:</label><br>
  <input type="text" id="lastName" name="lastName"><br>
  <label for="login">Login:</label><br>
  <input type="text" id="login" name="login"><br>
  <label for="password">Senha:</label><br>
  <input type="password" id="password" name="password">
  <input type="submit" value="Submit">
</form>

</body>
</html>